@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.marquee-container {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent line breaks */
}

.marquee-container p {
  display: inline-block; /* Keep the text in a single line */
  animation: marquee 10s linear infinite; /* Animate */
}

@keyframes marquee {
  from {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  to {
    transform: translateX(-150%); /* End off-screen to the left */
  }
}
